<main>
        <p id="notice"></p>
        <div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  		<h1>Editing Book</h1>

  		<form action="/books/71480" accept-charset="UTF-8" method="post"><input type="hidden" name="_method" value="patch" autocomplete="off"><input type="hidden" name="authenticity_token" value="N-SKiTZ_34QcBlwZZD8ajZ_dQmEDyzwjK8E5CEkNpj7ljUMBiNCgtEjNSdd1dTG_0DbbPRLqIw008mU-piHytQ" autocomplete="off">
  <div class="form-group">
    <label for="book_title">Title</label>
    <input class="form-control book_title" type="text" value="test1" name="book[title]" id="book_title">
  </div>
  <div class="form-group">
    <label for="book_opinion">Opinion</label>
    <textarea class="form-control book_body" name="book[body]" id="book_body">test1</textarea>
  </div>
  <div class="form-group">
    <input type="submit" name="commit" value="Update Book" class="btn btn-success" data-disable-with="Update Book">
  </div>
</form>
  		<a class="book_71480" href="/books/71480">Show</a> |
  		<a class="back" href="/books">Back</a>
  </div>
</div>
      </div></main>